<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Footer</title>
              <link rel="stylesheet" href="../Footer/footer.css">
</head>
<body>
       <footer>       
            <div id="footer">
              <div class="breakpoints">

              </div>
             <div class="sub-footer">
              
               <div class="footer-content">
                <img src="logo/Black White Simple Modern Letter M Studio Logo.jpg" alt="">
                <p>Copyright &copy; 2024 mosh</p>
               </div>
                
             <div class="footer-content">
              <h5>Products</h5>
              <li><a href="#">Wordpress Hosting</a></li>
              <li><a href="#">Free automated Wordpress</a></li>
              <li><a href="#">Migrations</a></li>
              <li><a href="#">Domain Names</a></li>
              <li><a href="#">Monthly Web Hosting</a></li>  
             </div>
             <div class="footer-content">
              <h5>Company</h5>
              <li><a href="#">About</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">News</a></li>         
             </div>
             <div class="footer-content">
              <h5>Support</h5>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Knowledge Base</a>
              </li>
              <li>
                <a href="#">Forums</a>
              </li>
              <li>
                <a href="#">System Status</a>
              </li>
              <li>
                <a href="#">Web Hosting</a>
              </li>
              <li>
                <a href="#">DreamCompute</a>
              
              </li>
             </div>
             <div class="footer-content">
              <h5>Domains</h5>
          <li>
            <a href="#">Domain Cheaker</a>
          </li>
          <li>
            <a href="#">Domain Transfer</a>
          </li>
          <li>
            <a href="#">Free Domain</a>
          </li>
          <li>
            <a href="#">XYZ Domain</a>
          </li>
          <li>
            <a href="#">Cheap SSL Certificate</a>       
             </li>
             </div>
        </div>       
             </div>
         </footer>       
</body>
</html>