<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Control</title>
              <link rel="stylesheet" href="../control/control.css">
</head>
<body>
        <section class="controlSection">
             <section id="controlPanelContainer">
            <div>
              <h1>User-Friendly Control Panel</h1>
            </div>   
               <div class="controlItem">
                 <div>
                    <img src="images/ipad.png" alt="">
                </div>
                <div class="controlContent">
                   <div class="singleItem">
                     <div>
                        <li><i class="ri-image-line"></i></li>
                    </div>
                    <div>
                        <h2>Easy Start & Managed Updates</h2>
                        <p>"Seamless Beginnings, Hassle-Free Growth. Effortless Start with Easy Management and Automatic Updates for a Smooth Experience. Get Started Today!"</p>
                    </div>
                   </div>
                    
                   <div class="singleItem">
                     <div>
                        <li><i class="ri-sort-asc"></i></i></li>
                    </div>
                    <div>
                        <h2>Easy Start & Managed Updates</h2>
                        <p>"Seamless Beginnings, Hassle-Free Growth. Effortless Start with Easy Management and Automatic Updates for a Smooth Experience. Get Started Today!"</p>
                    </div>
                   </div>
                    
                   <div class="singleItem">
                     <div>
                      <li><i class="ri-wordpress-fill"></i></i></li>
                    </div>
                    <div >
                        <h2>Easy Start & Managed Updates</h2>
                        <p>"Seamless Beginnings, Hassle-Free Growth. Effortless Start with Easy Management and Automatic Updates for a Smooth Experience. Get Started Today!"</p>
                    </div>
                   </div>
                    
               </div>      
            </div>


         </section>
        </section>      
</body>
</html>