<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Userbox</title>
              <link rel="stylesheet" href="../Userbox/userbox.css">
</head>
<body>
         <div class="userBox">
            <div class="textContent">
                <h1>What Our customer are saying</h1>
                <p>Elevate your online presence with our top-notch web hosting services. <br> Starting at just a few dollars per month, enjoy reliable performance, robust features.</p>
            </div>
            <div class="customerInfo">
               <div class="position">
                <img src="images/testimonial.jpg" alt="">
               <li class="icons"> <i class="fas fa-quote-right"></i></li>
               </div>
            
               <div>
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates, quo quod dolor a perferendis autem animi voluptate dolorem obcaecati praesentium asperiores neque itaque dicta assumenda aliquid quis, beatae molestiae.
                    
                    <h3>---Jhone Lumeo</h3>
                    <p>mosh company ceo</p>
                </h2>
               </div>
            </div>
          </div>        
</body>
</html>