<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Banner</title>
              <link rel="stylesheet" href="../Banner/banner.css">
</head>
<body>
         <section id="wrapper">
              <div class="container">
                   <div class="wrapper-content">
                            <h1>Cloud Hosting Mastery for Pro-Level Performance</h1>
                            <p>Deploy Your Website in less then 60 seconds.</p>
                            <button>Get Started</button>
                   </div>  
                   <div class="bannerImg">
                         <img src="images/banner.png" alt="image not found">   
                   </div>       
              </div>
         </section>      
</body>
</html>