<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Navbar</title>
              <link rel="stylesheet" href="../Navbar/navbar.css">
</head>
<body>
        <header>
                        <div>

                            <img src="logo/Black White Simple Modern Letter M Studio Logo.jpg" alt="">
                        </div>
                        <ul id="navbar">
                                    <li><a href="#">Hosting</a></li>
                                    <li><a href="#">VPS</a></li>
                                    <li><a href="#">Domain</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    
                        </ul>
                        <div class="icons">       
                            <a href="#" id="showName"><i class="ri-menu-line"></i> </i></a>
                        </div>
            </header>        
</body>
</html>