<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Domain</title>
              <link rel="stylesheet" href="../domain/domain.css">
</head>
<body>
        <section id="priceing">
              <div class="priceingContent">
               <h1>The Best Web Hosting Starting At Per Month</h1>  
               <p>Discover top-notch web hosting starting at just a few dollars per month. Unleash your  website's potential with <br> reliable services, robust features, and excellent support. Elevate your online presence affordably</p> 
               <div class="search">
             <button class="fa fa-search">
               search
              </button>
            <input placeholder="Enter Domain Name Here..">
            </div>  
            
             <div >
              <ul id="priceDomainSelect">
                <li><a href="javascript:void">.com $9.26</a></li>
                <li class="active"><a href="javascript:void">.sg $7.26</a></li>
                <li><a href="javascript:void">.space $12.96</a></li>
                <li><a href="javascript:void">.info $14.06</a></li>
                <li><a href="javascript:void">.net $11.50</a></li>
                <li><a href="javascript:void">.xyz $8.43</a></li>
                <li><a href="javascript:void">More</a></li>
              </ul>
             </div>
               
            <!-- =========== priceing Service=============== -->

               <div id="priceingService"> 
                  <div class="priceServiceContainer">
                        <div class="discountContainer">
                            <div class="priceList">
                               <p>Entry</p> 
                               <div class="servicePrice">
                                   <h1>$14 <span>/ Month</span></h1> 
                                    <h3>10% Off</h3>      
                               </div>
                               <p>Easy Start On the Cloud</p>            
                            </div>
                        </div>
                        <div>
                            <div class="benifitList">
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited Website</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited BranthWith</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>100 GB SSD Storage</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                 </div>         
                            </div>
                            <div>
                                  <button>Buy Now</button>        
                            </div>
                        </div>    
                  </div>
                 <!--  card 2-->
                <div class="priceServiceContainer">
                        <div class="discountContainer" id="discountContainerID">
                            <div class="priceList">
                               <p>Entry</p> 
                               <div class="servicePrice">
                                   <h1>$14 <span>/ Month</span></h1> 
                                    <h3>10% Off</h3>      
                               </div>
                               <p>Easy Start On the Cloud</p>            
                            </div>
                        </div>
                        <div>
                            <div class="benifitList">
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited Website</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited BranthWith</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>100 GB SSD Storage</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                        
                                 </div>         
                                        
                            </div>
                            <div>
                                  <button class="active">Buy Now</button>        
                            </div>
                        </div>    
                  </div>
                  <!-- card 3 -->
                 <div class="priceServiceContainer">
                        <div class="discountContainer">
                            <div class="priceList">
                               <p>Business</p> 
                               <div class="servicePrice">
                                   <h1>$24 <span>/ Month</span></h1> 
                                    <h3>10% Off</h3>      
                               </div>
                               <p>Easy Start On the Cloud</p>            
                            </div>
                        </div>
                        <div>
                            <div class="benifitList">
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited Website</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>Unlimited BranthWith</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>100 GB SSD Storage</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                 </div>         
                                 <div class="list">
                                     <i class="ri-check-line"></i>
                                     <p>3 GB RAM</p>     
                                 </div>         
                            </div>
                            <div>
                                  <button>Buy Now</button>        
                            </div>
                        </div>    
                  </div>
               </div>



              </div>
             
         </section>       
</body>
</html>