#supportService .supportEasyContainer .easyContent a{
  color: red;
  text-decoration: underline;
  
}
.fastContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  
}
.fastContainer .fastService li i{
font-size: 50px;
 background-color: #c7eef5;
 border-radius: 10px;
 color: #1B0760;
}
.fastContainer .fastService h1{
  font-size: 30px;
  color: #1B0760;
  margin: 10px 0;
}
.fastContainer .fastService p{
  color: #3f3e3e;
  font-size: 17px;

  margin-bottom: 40px;
}
.fastContainer .fastService a{
color: red;
text-decoration: underline;
}
