<!DOCTYPE html>
<html lang="en">
<head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Service</title>
              <link rel="stylesheet" href="../Serivce/service.css">
</head>
<body>
        <section id="supportService">
               <div class="supportTitle">
                 <h1>Host on the Cloud to keep Growing</h1>
                 <p>Unlock exceptional web hosting from as low as a few dollars monthly</p>
               </div>
               <div class="supportEasyContainer">
                <div class="easyContent">
                     <li><i class="ri-tools-line"></i></li>
                    <h1>Super Easy to Used</h1>
                    <p>"Revolutionize your online presence with premier web hosting, starting at just a few dollars per month. Enjoy reliability, speed, and unmatched support for a seamless digital experience. Elevate your website affordably!"</p>
                    <a href="javascript:void(0)">Learn More</a>
                </div>
                <div>
                    <img src="images/easy.jpg" alt="">
                </div>
               </div>


               <div class="fastContainer">
                <div>
                    <img src="images/fast.jpg" alt="">
                </div>
                <div class="fastService">
                   <li><i class="ri-computer-fill"></i></li>
                  <h1>Simples First Websites</h1>
                  <p>"Embark on a digital journey with stellar web hosting, priced at a budget-friendly rate per month. Unleash the power of your website with top-notch performance, security, and 24/7 support. Your success, simplified and affordable."</p>
                  <a href="javascript:void(0)">Learn More</a>
                </div>
               </div>
          </section>      
</body>
</html>